.container-inline div, .container-inline .js-form-type-radio {
    clear: both;
    display: block !important;
}

#block-material-base-page-title {
    text-align: center;
}

.path-frontpage #block-material-base-page-title {
    display: none;
}

#edit-what-symptoms-are-you-experiencing{
    clear: both;
    width: 100%;
}

.webform-submission-corona-form{
    max-width: 800px;
    margin: 0 auto;
}

.webform-submission-corona-form .form-item label {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    white-space: pre-line;
}

.webform-options-display-three-columns div.form-item {
    clear: both;
}

fieldset.webform-composite-hidden-title .fieldset-wrapper > .form-item:first-child {
    margin-top: 8px;
}

.webform-options-display-two-columns .form-item{
    clear: both;
}

.webform-confirmation__back{
    display: none;
}

.webform-confirmation__message{
    text-align: center;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.87);
}
/*
Rangeslider
 */
.rangeslider--horizontal .rangeslider__handle {
    width: 20px;
    height: 20px;
    top: -6px;
}

.rangeslider.rangeslider--horizontal {
    height: 10px;
}

.webform-submission-corona-form .rangeslider {
    width: 300px;
}

.webform-multiple-table-responsive td.webform-multiple-table--operations{
    display: block !important;
}

/*
fieldset-wrapper
 */
#edit-general-info > .fieldset-wrapper, #edit-details > .fieldset-wrapper {
    border: 1px solid grey;
    padding: 10px 20px;
}

#edit-general-info .fieldset-legend, #edit-details .fieldset-legend {
    display: block;
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: bold;
}

#edit-general-info .form-item-age, #edit-general-info .form-item-gender {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 20px;
}

#edit-general-info .form-item-do-you-think-you-have-corona-virus {
    clear: both;
}

/*
select
 */

.webform-submission-corona-form .form-type-select select {
    max-width: 100%;
    display: inline;
    clear: none;
    width: 100px;
    float: none;
}

.webform-submission-corona-form .form-item.form-type-select:after {
    top: 10px;
    margin-top: 0px;
}

.webform-submission-corona-form .form-type-select label {
    display: inline;
    margin-right: 15px;
}


/*
 geocomplete
 */
.webform-submission-corona-form .form-type-textfield input {
    max-width: 300px;
    display: inline;
    width: 100%;
    background: #ededed;
}

.webform-submission-corona-form .form-type-textfield {
    margin-right: 20px;
}

.webform-submission-corona-form .form-type-textfield label {
    display: inline;
    margin-right: 5%;
    line-height: 40px;
}

.form-item-location-value{
    width: 90%;
}


/*
multiple field table
 */

.webform-multiple-table-responsive table td {
    padding: 2px;
}

.webform-multiple-table-responsive table td .form-item {
    margin-top: 1px;
    margin-bottom: 1px;
}

.webform-multiple-table-responsive table thead {
    display: none;
}

.webform-multiple-table-responsive, .webform-multiple-table-responsive table input {
    max-width: 300px !important;
}

.webform-multiple-table-responsive td > div > label.visually-hidden {
    display: none !important;
}

.form-text.hasDatepicker {
    width: 100px !important;
}




@media (max-width: 900px) {
    .webform-location-geocomplete--wrapper .form-item {
        width: 400px;
        margin: 0 auto;
        float: none;
    }

    .webform-location-geocomplete--wrapper .form-item input {
        width: 100%;
    }

    .container{
        padding: 0px;
    }

    .webform-submission-corona-form{
        max-width: 100%;
        margin: 0;
    }

    .webform-submission-corona-form div{
        max-width: 100%;
    }

    .webform-submission-corona-form .form-type-textfield input {
        clear: both;
    }
}

@media (max-width: 500px) {

    #edit-general-info > .fieldset-wrapper, #edit-details > .fieldset-wrapper {
        border: none;
        clear: both;
    }

    .webform-type-fieldset legend{
        clear: both;
        padding-left: 20px;
    }
}

@media (max-width: 400px) {

    .block-material-base-page-title h1{
        white-space: pre-line;
    }

    .container {
        width: 100%;
    }

    .webform-location-geocomplete--wrapper .fieldset-wrapper {
        width: 300px;
    }

    .webform-location-geocomplete--wrapper .form-item input {
        max-width: 400px;
    }

    .webform-location-geocomplete--wrapper .form-item {
        width: 100%;
    }

    #edit-general-info > .fieldset-wrapper, #edit-details > .fieldset-wrapper {
        padding: 10px;
        width: 95%;
    }
}


@media (max-width: 330px) {


    .webform-location-geocomplete--wrapper .fieldset-wrapper {
        width: 290px;
    }


    #edit-location--wrapper{
        width: 250px;
    }

    .webform-location-geocomplete--wrapper .form-item input {
        max-width: 230px;
    }
}

@media (max-width: 300px) {


    .webform-location-geocomplete--wrapper .fieldset-wrapper {
        width: 270px;
    }

    #edit-general-info > .fieldset-wrapper, #edit-details > .fieldset-wrapper{
        width: 240px;
        margin: 0 auto;
    }
}
